* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 10px 5%;
}

.hide {
	display: none;
}

input, button {
	padding: 7px;
	font-size: 1.003rem;
	margin: 4px;
}

#images {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
}

.image {
	width: 150px;
	height: 130px;
	background-size: cover;
	background-position: center center;
	margin: 10px;
	border: 1px solid #e0e0e0;
	padding: 5px;
}